h1 {
  text-shadow: 2px 2px 4px #000000;
}
p {
  width: 500px;
  text-align: justify;
  text-shadow: 1px 1px 1px red, 0 0 1px blue, 0 0 1px darkblue;
  border: 1px solid black;
  padding: 10px;
  word-break: break-word;
}
.left {
  text-align: left;
  text-shadow: 2px 2px 2px gray;
}
.right {
  text-align: right;
  text-shadow: -2px -2px 2px gray;
}
.center {
  text-align: center;
  text-shadow: 0 0 5px purple;
}
.justify {
  text-align: justify;
  text-shadow: 0 0 5px green;
}
.underline {
  text-decoration: underline;
  text-shadow: 0 0 5px orange;
}
.linethrough {
  text-decoration: line-through;
  text-shadow: 0 0 5px brown;
}
.none {
  text-decoration: none;
  text-shadow: 0 0 5px black;
}
.lineheight {
  line-height: 2;
  text-shadow: 0 0 5px teal;
}
.lineheightpx {
  line-height: 80px;
  text-shadow: 0 0 5px maroon;
}
