table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table,
th,
td {
  border: 1px solid #c0c0c0;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

caption {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 0;
  caption-side: top;
  color: #333;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 20px;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px 15px;
  text-decoration: none;
}