html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
  background-color: #f1f1f1;
}

.box {
  background-color: rgb(255, 255, 255);
  width: 37vh;
  padding: 25px;
  border-radius: 2vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.box h1 {
  margin: 0 0 20px 0;
  font-size: 1.5rem;
  color: #000000;
}

.box p {
  margin: 0 0 20px 0;
  font-size: 22px;
  color: #000000;
  line-height: 1.6;
}

.box:hover {
    transform: scale(1.05);
}