html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template:
    "header header" 70px
    "aside content" auto
    / 25% 75%;
  background-color: #e0f7f7;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

header {
  grid-area: header;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
}

aside {
  grid-area: aside;
  background-color: #2c88ee;
  justify-content: flex-start;
  color: white;
  text-align: left;
  font-size: 30px;
  padding: 50px 0 0 30px;
}

section {
  grid-area: content;
  justify-content: flex-start;
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 24px;
  padding: 50px 0 0 30px;
}

aside h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

ul li a:hover {
  text-decoration: underline;
}

section h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template:
      "header" auto
      "aside" 1fr
      "content" 1fr
      / 100%;
  }
}
