html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template:
    "header header" 70px
    "aside content" 530px
    / 25% 75%;
  background-color: #e0f7f7;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

header {
  grid-area: header;
  background-color: #222;
  color: white;
  text-align: center;
  line-height: 70px;
  font-size: 24px;
}

aside {
  grid-area: aside;
  background-color: rgb(0, 82, 129);
  color: white;
  text-align: center;
  line-height: 530px;
  font-size: 24px;
}

section {
  /* grid-row: 2 / 3;
        grid-column: 2 / 3; */
  grid-area: content;
  background-color: rgb(129, 0, 129);
  color: white;
  text-align: center;
  line-height: 530px;
  font-size: 24px;
}
